body {
    background-color:#F8F8F8;
}
.savedItemContainer {
    margin: 0px auto;
    width: 343px;
    height: 278px;
    top: 68px;
    left: 25px;

}

.savedpic {
    display: flex;
    padding: 5px;
}

.savedd {
    background-color: #fff;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    margin: 5px;
    padding: 5px;
}

.savedHeading {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: #2B3241;
}

.img1{
    fill: #444D61;
  
}

.editclass {
    display: flex;
    justify-content: space-between;
}

